.forgot {
  cursor: pointer;
  display: flex;
  margin-top: 10px;
  justify-content: end;
}
.forgot:hover {
  filter: brightness(110%);
}
.forgot:active {
  transform: translate(0, 00.3rem);
}

.login-btn,
.signup-btn {
  width: 70%;
  padding: 12px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.icon-btn {
  padding: 0.5rem 1.8rem;
}
.social-group-btn {
  margin-top: 15px;
  margin-bottom: 20px;
}
#loading i {
  font-size: 18px;
  color: #333;
}
@media screen and (max-width: 1000px) {
  .login-container {
    margin: auto 10px;
  }
  .login-btn,
  .signup-btn {
    width: 100%;
  }
}
